/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg
public/fonts/vendor/simple-line-icons/Simple-Line-Icons.svg
public/js/app.js
